<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.insacc.toddssyndrome">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatientList.PatientListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddPatientTest.PatientTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientTestResult.PatientTestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientTestsList.PatientTestsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PatientTestTheme" />
    </application>

</manifest>